	<!--/ End Header -->
{% extends "malefashion-master/layout.html" %}	


{% block body %}
<!-- Slider Area -->
<section class="hero-slider">
    <!-- Single Slider -->
<div class="single-slider" style="background-image: url('{{ image_url }}');">

        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-9 offset-lg-3 col-12">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-lg-5 col-12"> <!-- Adjust the column width as needed -->
                                <div class="hero-image"> <!-- Create a container for the image -->
   </div>
                            </div>
                            <div class="col-lg-7 col-12">
                                <div class="hero-text">
                                    <h1 style="color: rgb(0, 0, 0);"><span></span>Best Deals</h1>
                                    <p style="color: rgb(0, 0, 0);">Buy The Best Motors Deals </p>
                                    <div class="button">
                                        <a href="/shop-list" class="btn">Shop Now !</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Single Slider -->
</section>


	<!--/ End Slider Area -->
	
	<!-- Start Small Banner  -->
	<section class="small-banner section">
		<div class="container-fluid">
			<div class="row">
				<!-- Single Banner  -->
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner">
						<img src="{{ url_for('static', filename='images/e.jpg') }}" alt="#">
						<div class="content" style="color: white;">
							<p style="color: white;">Electronics</p>
							<h3 style="color: white;">Best  <br> Electronics Deals</h3>
							<a href="/electronics" style="color: yellow;">Discover Now</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
				<!-- Single Banner  -->
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner">
						<img src="{{ url_for('static', filename='images/f.jpg') }}" alt="#">
						<div class="content" style="color: white;">
							<p style="color: white;">Fashion </p>
							<h3 style="color: white;">Get You Style <br> in 2024</h3>
							<a href="/fashion" style="color: yellow;">Shop Now</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
				<!-- Single Banner  -->
				<div class="col-lg-4 col-12">
					<div class="single-banner tab-height">
						
						<img src="{{ url_for('static', filename='images/pexels-karlsolano-2729899.jpg') }}" alt="#">
						<div class="content" style="color: white;">
							<p style="color: white;">Fit on Go!</p>
							<h3 style="color: white;">Workout Season <br> Up to <span>40%</span> Off</h3>
							<a href="/sports" style="color: yellow;">Discover Now</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
			</div>
		</div>
	</section>
	<!-- End Small Banner -->
	
	<!-- Start Product Area -->
    <div class="product-area section">
            <div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>Trending Item</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="product-info">
							<div class="nav-main">
								<!-- Tab Nav -->
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#man" role="tab">Electronics</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#women" role="tab">Fashion</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#kids" role="tab">Sports</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#accessories" role="tab">Motors</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#essential" role="tab">Home And Garden</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#prices" role="tab">Jewellery</a></li>
								</ul>
								<!--/ End Tab Nav -->
							</div>
							<div class="tab-content" id="myTabContent">
								<!-- Start Single Tab -->
								<div class="tab-pane fade show active" id="man" role="tabpanel">
									<div class="tab-single">
										<div class="row">



											{% for index in range(electronics|length) %}
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="product-details.html">
   															{% set imagePath = electronics_imagePaths[index][0][0][7:] %}
															<img class="default-img" src="{{ url_for('static', filename=imagePath) }}" alt="{{ electronics[index][1] }}"  data-product-id="{{ electronics[index][0] }}">
															<img class="hover-img" src="{{ url_for('static', filename=electronics_imagePaths[index][0][0][7:]) }}" alt="{{ electronics[index][1] }}"   data-product-id="{{ electronics[index][0] }}">
														</a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																<a title="Wishlist" href="#">
																<i class="ti-heart addToWishlistIcon" data-product-id="{{ electronics[index][0] }}"></i>
																<span>Add to Wishlist</span></a>
																<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
															</div>
															<div class="product-action-2">
																<a title="Add to cart" href="#" class="addToCartLink" data-product-id="{{ electronics[index][0] }}">Add to cart</a>
	</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="product-details.html">{{ electronics[index][1] }}</a></h3>
														<div class="product-price">
															<span>${{ electronics[index][4] }}</span>
														</div>
													</div>
												</div>
											</div>
											  {% endfor %}    
											




										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
								<!-- Start Single Tab -->
								<div class="tab-pane fade" id="women" role="tabpanel">
									<div class="tab-single">
										<div class="row">
											{% for index in range(fashion|length) %}
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="product-details.html">
															   {% set imagePath = fashion_imagePaths[index][0][0][7:] %}
																<img class="default-img" src="{{ url_for('static', filename=imagePath) }}" alt="{{ fashion[index][1] }}"  data-product-id="{{ fashion[index][0] }}">
											 					<img class="hover-img" src="{{ url_for('static', filename=fashion_imagePaths[index][0][0][7:]) }}" alt="{{ fashion[index][1] }}"   data-product-id="{{ fashion[index][0] }}"></a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																		<a title="Wishlist" href="#">
												<i class="ti-heart addToWishlistIcon" data-product-id="{{ fashion[index][0] }}"></i>
												<span>Add to Wishlist</span></a>
																<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
															</div>
															<div class="product-action-2">
																<a title="Add to cart" href="#" class="addToCartLink" data-product-id="{{ fashion[index][0] }}">Add to cart</a>
	</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="product-details.html">{{ fashion[index][1] }}</a></h3>
														<div class="product-price">
															<span>${{ fashion[index][4] }}</span>
														</div>
													</div>
												</div>
											</div>
											 {% endfor %} 
										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
								<!-- Start Single Tab -->
								<div class="tab-pane fade" id="kids" role="tabpanel">
									<div class="tab-single">
										<div class="row">
											{% for index in range(motors|length) %}
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="product-details.html">
										   {% set imagePath = motors_imagePaths[index][0][0][7:] %}
											<img class="default-img" src="{{ url_for('static', filename=imagePath) }}" alt="{{ motors[index][1] }}"  data-product-id="{{ motors[index][0] }}">
											<img class="hover-img" src="{{ url_for('static', filename=motors_imagePaths[index][0][0][7:]) }}" alt="{{ motors[index][1] }}"   data-product-id="{{ motors[index][0] }}"></a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
															<a title="Wishlist" href="#">
													<i class="ti-heart addToWishlistIcon" data-product-id="{{ motors[index][0] }}"></i>
															<span>Add to Wishlist</span></a>
																<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
															</div>
															<div class="product-action-2">
															<a title="Add to cart" href="#" class="addToCartLink" data-product-id="{{ motors[index][0] }}">Add to cart</a>

															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="product-details.html">{{ motors[index][1] }}</a></h3>
														<div class="product-price">
															<span>${{ motors[index][4] }}</span>
														</div>
													</div>
												</div>
											</div>
											{% endfor %}

										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
								<!-- Start Single Tab -->
								<div class="tab-pane fade" id="accessories" role="tabpanel">
									<div class="tab-single">
										<div class="row">
											{% for index in range(home_and_garden|length) %}
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="product-details.html">
												   {% set imagePath = home_and_garden_imagePaths[index][0][0][7:] %}
											<img class="default-img" src="{{ url_for('static', filename=imagePath) }}" alt="{{ home_and_garden[index][1] }}"  data-product-id="{{ home_and_garden[index][0] }}">
											<img class="hover-img" src="{{ url_for('static', filename=home_and_garden_imagePaths[index][0][0][7:]) }}" alt="{{ home_and_garden[index][1] }}"   data-product-id="{{ home_and_garden[index][0] }}">	</a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
												<a title="Wishlist" href="#">
												<i class="ti-heart addToWishlistIcon" data-product-id="{{ home_and_garden[index][0] }}"></i>
												<span>Add to Wishlist</span></a>
																<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
															</div>
															<div class="product-action-2">
															<a title="Add to cart" href="#" class="addToCartLink" data-product-id="{{ home_and_garden[index][0] }}">Add to cart</a>

															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="product-details.html">{{ home_and_garden[index][1] }}</a></h3>
														<div class="product-price">
															<span>${{ home_and_garden[index][4] }}</span>
														</div>
													</div>
												</div>
											</div>
											{% endfor %}     
	

										
										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
								<!-- Start Single Tab -->
								<div class="tab-pane fade" id="essential" role="tabpanel">
									<div class="tab-single">
										<div class="row">
											{% for index in range(books|length) %}
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="product-details.html">
   											{% set imagePath = books_imagePaths[index][0][0][7:] %}
											<img class="default-img" src="{{ url_for('static', filename=imagePath) }}" alt="{{ books[index][1] }}"  data-product-id="{{ books[index][0] }}">
											<img class="hover-img" src="{{ url_for('static', filename=books_imagePaths[index][0][0][7:]) }}" alt="{{ books[index][1] }}"   data-product-id="{{ books[index][0] }}">	</a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																												<a title="Wishlist" href="#">
												<i class="ti-heart addToWishlistIcon" data-product-id="{{ books[index][0] }}"></i>
												<span>Add to Wishlist</span></a>
																<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
															</div>
															<div class="product-action-2">
																<a title="Add to cart" href="#" class="addToCartLink" data-product-id="{{ books[index][0] }}">Add to cart</a>

															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="product-details.html">{{ books[index][1] }}</a></h3>
														<div class="product-price">
															<span>${{  books[index][4] }}</span>
														</div>
													</div>
												</div>
											</div>
											{% endfor %}  

										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
								<!-- Start Single Tab -->
								<div class="tab-pane fade" id="prices" role="tabpanel">
									<div class="tab-single">
										<div class="row">
											{% for index in range(sports|length) %}
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="product-details.html">
									   {% set imagePath = sports_imagePaths[index][0][0][7:] %}
											<img class="default-img" src="{{ url_for('static', filename=imagePath) }}" alt="{{ sports[index][1] }}"  data-product-id="{{ sports[index][0] }}">
											<img class="hover-img" src="{{ url_for('static', filename=sports_imagePaths[index][0][0][7:]) }}" alt="{{ sports[index][1] }}"   data-product-id="{{ sports[index][0] }}">					</a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																												<a title="Wishlist" href="#">
												<i class="ti-heart addToWishlistIcon" data-product-id="{{ sports[index][0] }}"></i>
												<span>Add to Wishlist</span></a>
																<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
													iv>
															<div class="product-action-2">
											<a title="Add to cart" href="#" class="addToCartLink" data-product-id="{{ sports[index][0] }}">Add to cart</a>

															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="product-details.html">{{ sports[index][1] }}</a></h3>
														<div class="product-price">
															<span>${{ sports[index][4] }}</span>
														</div>
													</div>
												</div>
											</div>
											 {% endfor %}

										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
							</div>
						</div>
					</div>
				</div>
            </div>
    </div>
	<!-- End Product Area -->
	
	<!-- Start Midium Banner  -->
	<section class="midium-banner">
		<div class="container">
			<div class="row">
				<!-- Single Banner  -->
				<div class="col-lg-6 col-md-6 col-12">
					<div class="single-banner">
						<img src="{{ url_for('static', filename='images/g.jpg') }}" alt="#">
						<div class="content">
							<p style="color: white;">Electronics</p>
							<h3 style="color: white;">Videos Games and Consoles <br>Up to<span> 50%</span></h3>
							<a href="/videoGames">Get Now!!</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
				<!-- Single Banner  -->
				<div class="col-lg-6 col-md-6 col-12">
					<div class="single-banner">
						<img src="{{ url_for('static', filename='images/h.jpg') }}" alt="#">
						<div class="content">
							<p style="color: white
							;">Home And Garden</p>
							<h3 style="color: white;">Get Home Things  <br> up to <span>70%</span></h3>
							<a href="home_and_garden" class="btn">Buy Now !</a>
						</div>
					</div>
				</div>
				<!-- /End Single Banner  -->
			</div>
		</div>
	</section>
	<!-- End Midium Banner -->
	
	<!-- Start Most Popular -->
	<div class="product-area most-popular section">
        <div class="container">
            <div class="row">
				<div class="col-12">
					<div class="section-title">
						<h2>New Listings</h2>
					</div>
				</div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel popular-slider">
						<!-- Start Single Product -->
						{% for index in range(latest_products|length) %}
											
												<div class="single-product">
													<div class="product-img">
														<a href="product-details.html">
   														{% set imagePath = latest_products_image_paths[index][0][0][7:] %}
														<img class="default-img" src="{{ url_for('static', filename=imagePath) }}" alt="{{ latest_products_image_paths[index][1] }}"  data-product-id="{{ latest_products[index][0] }}">
														<img class="hover-img" src="{{ url_for('static', filename=latest_products_image_paths[index][0][0][7:]) }}" alt="{{ latest_products_image_paths[index][1] }}"   data-product-id="{{ latest_products[index][0] }}">
														</a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																												<a title="Wishlist" href="#">
												<i class="ti-heart addToWishlistIcon" data-product-id="{{ latest_products_image_paths[index][0] }}"></i>
												<span>Add to Wishlist</span></a>
																<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
															</div>
															<div class="product-action-2">
																<a title="Add to cart" href="#" class="addToCartLink" data-product-id="{{ latest_products[index][0] }}">Add to cart</a>

															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="product-details.html">{{ latest_products[index][1] }}</a></h3>
														<div class="product-price">
															<span>${{  latest_products[index][4] }}</span>
														</div>
													</div>
												</div>
											
											{% endfor %}  
                   
						 </div>
                </div>
            </div>
        </div>
    </div>
	<!-- End Most Popular Area -->
	
	<!-- Start Shop Home List  -->
	<section class="shop-home-list section">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="row">
						<div class="col-12">
							<div class="shop-section-title">
								<h1>On sale</h1>
							</div>
						</div>
					</div>
					<!-- Start Single List  -->
					{% for index in range(on_sale|length) %}
					<div class="single-list">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="list-image overlay">
									 {% set imagePath = on_sale_imagePaths[index][0][0][7:] %}
									<img  class="hover-img"   src="{{ url_for('static', filename=imagePath) }}" alt="{{ on_sale[index][1] }}"  data-product-id="{{ on_sale[index][0] }}">
									<a href="#" class=" buy addToCartLink" data-product-id="{{ on_sale[index][0] }}"><i class="fa fa-shopping-bag"></i></a>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12 no-padding">
								<div class="content">
									<h4   class="title product_link" data-product-id="{{ on_sale[index][0] }}" ><a href="#"  ></a>{{ on_sale[index][1] }}</h4>
									<p class="price with-discount">${{ on_sale[index][4] }}</p>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="row">
						<div class="col-12">
							<div class="shop-section-title">
								<h1>Best Seller</h1>
							</div>
						</div>
					</div>
					{% for index in range(top_viewed|length) %}
					<div class="single-list">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="list-image overlay">
									 {% set imagePath = top_viewed_imagePaths[index][0][0][7:] %}
									<img  class="hover-img"   src="{{ url_for('static', filename=imagePath) }}" alt="{{ top_viewed[index][1] }}"  data-product-id="{{ top_viewed[index][0] }}">
									<a href="#" class=" buy addToCartLink" data-product-id="{{ top_viewed[index][0] }}"><i class="fa fa-shopping-bag"></i></a>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12 no-padding">
								<div class="content">
									<h4   class="title product_link" data-product-id="{{ top_viewed[index][0] }}" ><a href="#"  ></a>{{ top_viewed[index][1] }}</h4>
									<p class="price with-discount">${{ top_viewed[index][4] }}</p>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- End Single List  -->
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="row">
						<div class="col-12">
							<div class="shop-section-title">
								<h1>Top viewed</h1>
							</div>
						</div>
					</div>
					{% for index in range(best_seller|length) %}
					<div class="single-list">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="list-image overlay">
									 {% set imagePath = best_seller_imagePaths[index][0][0][7:] %}
									<img  class="hover-img"   src="{{ url_for('static', filename=imagePath) }}" alt="{{ best_seller[index][1] }}"  data-product-id="{{ best_seller[index][0] }}">
									<a href="#" class=" buy addToCartLink" data-product-id="{{ best_seller[index][0] }}"><i class="fa fa-shopping-bag"></i></a>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12 no-padding">
								<div class="content">
									<h4   class="title product_link" data-product-id="{{ best_seller[index][0] }}" ><a href="#"  ></a>{{ best_seller[index][1] }}</h4>
									<p class="price with-discount">${{ best_seller[index][4] }}</p>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- End Single List  -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Shop Home List  -->
	
	<!-- Start Cowndown Area -->
	<section class="cown-down">
		<div class="section-inner ">
			<div class="container-fluid">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-12 padding-right">
            <div class="image">
                <img src="{{ url_for('static', filename='images/login.jpg') }}" alt="#" style="max-width: 100%; height: auto;">
            </div>  
        </div>  
        <div class="col-lg-6 col-12 padding-left">
            <div class="content">
                <div class="heading-block">
                    <p class="small-title">Join and Make Money</p>
                    <h3 class="title">Best User Community</h3>
                    <a href="/sell" class="btn btn-primary" style="color: white;">Sell Now</a>
                </div>
            </div>  
        </div>  
    </div>  
</div>

			</div>
		</div>
	</section>
	<!-- /End Cowndown Area -->
	

	<!-- End Shop Blog  -->
{% endblock %}