<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/signUp">Signup</a></li>
        <li><a href="/userProfile">User Profile</a></li>
        <li><a href="/sell">Sell</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/catalogue">Catalogue</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/wishlist">Wishlist</a></li>
        <li><a href="/listings">Listings</a></li>
        <li><a href="/buys">Buys</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/notifications">Notifications</a></li>
        <li><a href="/messages">Messages</a></li>
    </ul>
</body>
</html>