{% for index in range(latest_products|length) %}
											
												<div class="single-product">
													<div class="product-img">
														<a href="product-details.html">
   														{% set imagePath = latest_products_image_paths[index][0][0][7:] %}
														<img class="default-img" src="{{ url_for('static', filename=imagePath) }}" alt="{{ latest_products_image_paths[index][1] }}"  data-product-id="{{ latest_products_image_paths[index][0] }}">
														<img class="hover-img" src="{{ url_for('static', filename=latest_products_image_paths[index][0][0][7:]) }}" alt="{{ latest_products_image_paths[index][1] }}"   data-product-id="{{ latest_products_image_paths[index][0] }}">
														</a>
														<div class="button-head">
															<div class="product-action">
																<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
																												<a title="Wishlist" href="#">
												<i class="ti-heart addToWishlistIcon" data-product-id="{{ latest_products_image_paths[index][0] }}"></i>
												<span>Add to Wishlist</span></a>
																<a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
															</div>
															<div class="product-action-2">
																<a title="Add to cart" href="#" class="addToCartLink" data-product-id="{{ latest_products[index][0] }}">Add to cart</a>

															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="product-details.html">{{ latest_products[index][1] }}</a></h3>
														<div class="product-price">
															<span>${{  latest_products[index][4] }}</span>
														</div>
													</div>
												</div>
											
											{% endfor %}  
                   