<!DOCTYPE html>
<html>
<head>
    <title>My Web Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js" integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div id="messages"></div>
    <input type="text" id="username" placeholder="Username">
    <input type="text" id="message" placeholder="Message">
    <button id="sendBtn">Send</button>

    <script type="text/javascript">
        $(document).ready(function(){
            var socket = io.connect('http://192.168.137.1:5000'); // Corrected URL
            socket.on('connect', function(data) { 
                socket.send('User Connected');
            });

            socket.on('message', function(data) {
                $('#messages').append($('<p>').text(data));
            });

            $('#sendBtn').click(function(){
                var username = $('#username').val();
                var message = $('#message').val();
                if(username && message) {
                    socket.send(username + ': ' + message);
                    $('#message').val('');
                } else {
                    alert('Please enter both username and message.');
                }
            });
        });
    </script>
</body>
</html>
