<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_style.css') }}">
    <title>Admin Page</title>
</head>
<body>
    <div class="sidebar">
        <header>Admin Dashboard</header>
        <ul>
            <li><a href="admin_pg.html"><i class="i1"></i>Dashboard</a></li>
            <li><a href="Customer.html"><i class="i2"></i>Customer</a></li>
            <li><a href="Products.html"><i class="i3"></i>Products</a></li>
            <li><a href="orders.html"><i class="i4"></i>Orders</a></li>
            <li><a href="MyNotes.html"><i class="i5"></i>My Notes</a></li>
            <li><a href="login_pg.html"><i class="i6"></i>Log Out</a></li>
        </ul>
    </div>
    <div class="content">
        <div class="block">
            <h2>Total Users</h2>
            <p>{{ users }}</p>
        </div>
        <div class="block">
            <h2>Total Products</h2>
            <p>{{ product }}</p>
        </div>
        <div class="block">
            <h2>Total Orders</h2>
            <p>{{ order }}</p>
        </div>
    </div>
    <div class="content">
        <div class="block">
            <h2>Total Categories</h2>
            <p>{{ category }}</p>
        </div>
        <div class="block">
            <h2>Total Addresses</h2>
            <p>{{ address }}</p>
        </div>
    </div>
    <div class="content">
        <div class="block">
            <h2>Order Status</h2>
            <table>
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in data %}
                    <tr>
                        <td>{{ order[0] }}</td>
                        <td>{{ order[1] }}</td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>